.occopy {
  padding-top: 0;
}

.section--hidden {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.no-padding {
  padding-top: 0;
}

.about {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.about__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.thumb {
  position: relative;
}

.thumb__label {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  background-color: rgba(47, 48, 58, 0.8);
}

.section__title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

