.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__span {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-animation-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.site-contact {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.site-contact__item + .site-contact__item {
  margin-left: 50px;
}

.site-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-contact .link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms var(--timing-animation-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
