.mob-menu__btn-open {
  display: block;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: fill 250ms var(--timing-animation-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mob-menu__container {
  padding-left: 40px;
  padding-right: 15px;
}

.mob-menu {
  position: fixed;
  background-color: var(--primary-white-color);
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;

  .mob-menu__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
  }
}

.mob-menu__btn-close {
  display: block;

  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: fill 250ms var(--timing-animation-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    font-size: 30px;
    line-height: 1.16;
  }
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms var(--timing-animation-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu-contact__link {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    font-size: 24px;
    line-height: 1.16;
  }

  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms var(--timing-animation-function);
  &:hover,
  &:focus {
    color: #188ce8;
  }
}

.mob-menu-contact__link--grey {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    font-size: 14px;
    line-height: 1.15;
  }
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms var(--timing-animation-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu-soc__list {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mob-menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms var(--timing-animation-function);
  &:hover,
  &:focus {
    color: #188ce8;
  }
}

.mob-menu-soc__item {
  position: relative;
}

.mob-menu-soc__item:not(:last-child):after {
  content: '';
  position: absolute;
  width: 22px;
  height: 0px;
  left: 100%;
  top: 50%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
