.team {
  background-color: var(--general-background-color);
}
.team-list__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  text-align: center;
  padding: 30px 0;
  width: 100%;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-card__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-card__pos {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
}

.soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: var(--icon-color);

  transition: background-color 250ms var(--timing-animation-function),
    color 250ms var(--timing-animation-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}
.soc-list__icon {
  fill: currentColor;
}

