:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-background-color: #2f303a;
  --primary-white-color: #ffffff;
  --general-background-color: #f5f4fa;
  --secondary-btn-color: #212121;
  --icon-color: #afb1b8;
  --timing-animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
